* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: #000;
  padding: 2rem;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.smartbin-nav .welcome {
  font-size: 3.6rem;
  color: #fff;
}

.smartbin-nav .bin {
  color: #ff0000;
}

h1 {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 3rem;
}

.app {
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
}

.balance {
  background-color: #222;
  border-radius: 1rem;
  padding: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #fff;
}

.balance__label {
  font-size: 2rem;
  font-weight: 600;
}

.balance__date {
  font-size: 1.4rem;
  color: #888;
}

.balance__value {
  font-size: 4rem;
  font-weight: 400;
  color: #ff0000;
}

/* Movements */
.movements {
  background-color: #fff;
  border-radius: 1rem;
  padding: 2rem;
  overflow-y: auto;
  max-height: 50vh;
}

.movements__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  border-bottom: 1px solid #ff0000;
}

.movements__type {
  font-size: 1.6rem;
  font-weight: 500;
  color: #333;
}

.movements__date {
  font-size: 1.9rem;
  color: #777;
}

.movements__type--Collected {
  color: #ff0000;
  font-weight: 600;
}

/* Operations */
.operation {
  background-color: #333;
  padding: 2.5rem;
  border-radius: 1rem;
}

.operation h2 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 1.5rem;
}

.form {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.form__input {
  padding: 1rem 2rem;
  font-size: 2.6rem;
  border: none;
  border-radius: 5px;
  background-color: #555;
  color: #fff;
}

.form__btn {
  padding: 1rem 2rem;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 2.6rem;
  transition: background-color 0.3s;
}

.form__btn:hover {
  background-color: #cc0000;
}

/* Responsive Design */
@media (max-width: 768px) {
  .app {
    grid-template-columns: 1fr;
  }

  .balance {
    flex-direction: column;
    align-items: flex-start;
  }

  .balance__value {
    font-size: 3rem;
  }

  .movements__row {
    flex-direction: column;
    align-items: flex-start;
  }

  .form {
    flex-direction: column;
  }

  .form__input,
  .form__btn {
    width: 100%;
  }
}
